@model List<Barnamenevisan.Domain.ViewModels.Ecommerce.ProductDisplayViewModel>

@{
   ViewBag.Title = "خانه";
}

@section Slider
{
   <!-- slider -->
   <div class="slider-layer">
      <div id="slider-one" class="owl-carousel">
         <div class="item">
            <a href=""><img src="/img/slider.jpg" title="تست عنوان"></a>
         </div>
         <div class="item">
            <a href=""><img src="/img/slider.jpg" title="تست عنوان"></a>
         </div>
      </div>
   </div> 
   <!-- End slider -->
}

<div class="col-md-9 col-sm-8 left-side-content">


   <section class="last-products">
      <header><h3> جدیدترین محصولات </h3> <a href=""> آرشیو </a></header>
      <article>
         
         @if (Model.Any())
         {
            @foreach (var viewModel in Model)
            {
               @await Component.InvokeAsync("ProductCard", viewModel)
            }
         }
         else
         {
            <div class="alert alert-danger">محصولی یافت نشد</div>
         }
         
         <div class="clearfix"></div>
      </article>
   </section>


</div>