@model Barnamenevisan.Domain.ViewModels.Auth.ForgotPasswordViewModel

@{
    ViewBag.Title = "فراموشی رمز عبور";
}

<div class="col-md-9 col-sm-8 left-side-content internal-style">

    <section class="border-radius">
        <header><h3> فراموشی رمز عبور </h3></header>
        <article>
            <div class="col-md-10 col-sm-10 col-xs-12">

                <form method="post" asp-action="ForgotPassword" novalidate>
                    <div class="form-group">
                        <input type="email" asp-for="Email" class="form-control" placeholder="ایمیل ">
                    </div>
                    <input type="submit" value=" دریافت کد تایید">
                    <div asp-validation-summary="All" class="text-danger">
                        
                    </div>
                </form>

            </div>
            <div class="clearfix"></div>
        </article>
    </section>
                
</div>