@model Barnamenevisan.Domain.ViewModels.Auth.RegisterViewModel

@{
    ViewBag.Title = "ثبت نام";
}


<div class="col-md-9 col-sm-8 left-side-content internal-style">

    <section class="border-radius">
        <header><h3> ثبت نام در سایت </h3></header>
        <article>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <form method="post" asp-action="Register" novalidate>
                    <div class="form-group">
                        <input type="text" asp-for="Username" class="form-control" placeholder="نام کاربری ">
                    </div>
                    <div class="form-group">
                        <input type="email" asp-for="Email" class="form-control" placeholder=" ایمیل ">
                    </div>
                    <div class="form-group">
                        <input type="password" asp-for="Password" class="form-control" placeholder="رمز عبور">
                    </div>
                    <div class="form-group">
                        <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="تکرار رمز عبور ">
                    </div>
                    <label><input type="checkbox" asp-for="ConfirmPolicies"> قوانین را میپذیرم  </label>
                    <input type="submit" value=" ورود به سایت">
                    <div asp-validation-summary="All" class="text-danger">
                        
                    </div>
                </form>

            </div>
            <div class="clearfix"></div>
        </article>
    </section>
                
</div>