@model Barnamenevisan.Domain.ViewModels.Auth.ResetPasswordViewModel

@{
    ViewBag.Title = "تغییر کلمه عبور";
}

<div class="col-md-9 col-sm-8 left-side-content internal-style">

    <section class="border-radius">
        <header><h3> تغییر کلمه عبور </h3></header>
        <article>
            <div class="col-md-10 col-sm-10 col-xs-12">

                <form method="post" asp-action="ResetPassword" novalidate>
                    <div class="form-group">
                        <input type="password" asp-for="ConfirmCode" class="form-control" placeholder="کد تایید ">
                    </div>
                    <div class="form-group">
                        <input type="password" asp-for="Password" class="form-control" placeholder="کلمه عبور جدید ">
                    </div>
                    <div class="form-group">
                        <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="تکرار کلمه عبور جدید ">
                    </div>
                    <input type="submit" value=" بازیابی کلمه عبور">
                    <div asp-validation-summary="All" class="text-danger">

                    </div>
                </form>

            </div>
            <div class="clearfix"></div>
        </article>
    </section>
                
</div>